

#casal {
    width: 100%;
}

.imagem{
    width: 20px;
    height: 25px;
    background-image: url(casal.jpg);
}

.principal{
	background: #CCCCCC;
	padding: 30px;
}

.titulo-centralizado {
	text-align: center;
}
.texto{
    position: absolute;
      background-color: rgba(0,0,0,0.5);
      color:#fff;
      text-align: center;
      top: 100px;
      width: 250px;
      line-height: 30px;
      height: 30px;
}

.names {
    padding-left: 50px;
    background: #ad6404;
    color: rgb(255, 255, 255);
}

.casorio {
    padding-left: 150px;
    color: rgb(71, 41, 19);
    background-color: rgba(255, 255, 255, 0.411);
}

em strong {
	color: #000000; 
    background-color: rgba(230, 27, 27, 0.411);
}

p {
	text-align: center;
}

.principal {
    background: #ffffff73;
	padding: 30px;
}

.casalft {
    background: #ffffff73;
	padding: 50px;
}
.imagem2 {
    width: 20%;
}

.itens {
	font-style: italic;
 }

