header{
    background: rgb(114, 112, 112);
    max-width: 100%;

}


.caixa{
    max-width: 100%;
    height: 100%;
}

nav{
    position: absolute;
    top: 1px;
    right: 0;
}

nav li{
	display: inline;
    margin: 0 0 0 5px;
}

nav a{
	text-transform: uppercase;
	color: #af5002;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #000000;
	text-decoration: underline;
}

body{
    background-color: #ff73007a;
}


.titulo-centralizado {
	text-align: center;
}

p {
	text-align: center;
}

em strong {
	color: #c46f00; 
    background-color: rgba(0, 0, 0, 0.411);
}

.fotos {
    max-width: 100%;
    border: 15px;
    height: 100%;
    display: inline;
    margin: 100%;  
}

.texto{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color:#fff;
    text-align: center;
    top: 100px;
    width: 250px;
    line-height: 30px;
    height: 30px;
}

.principal {
    background: #ffffff73;
	max-width: 100%;
}

.som{
    width: 100%;
    height: 50%;
}

.teste{
    border: 0px; 
    height: 80px; 
    width: 85px;
}

.teste2{
    border: 0px; 
    height: 60px; 
    width: 65px;
}

footer {
    max-width: 100%;
	text-align: center;
	background: url(pe2.jpg);
	padding: 40px 0;
}

.copyright{
	color: #000000;
	font-size: 15px;
	margin: 20px;
}